<html>

	<head>
		<title>来世のパートナー診断</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	</head>

	<body>	
		<p><strong>あなたの来世のパートナーは誰だ？！</strong></p>
		<p>
			<% if @partner == nil %>
			残念、、パートナーが見つかりません。来来世でがんばろう！
			<% else %>
			<img src="<%= @partner.picture %>">
			<%= @partner.name %>
			<% end %>
		</p>
		<form action="/share" method="post">
			<input type="submit" value="結果をシェアする">
		</form>
	</body>
</html>