<html>
	<head>
		<title>来世のパートナー診断</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<link rel="stylesheet" type="text/css" media="screen,print" href="stylesheets/main.css" />
	</head>
	<body>
		<p class="title">来世のパートナー診断</p>
		<p>Facebookでログインしよう</p>
		<button class="login"><a href="/auth/facebook">Facebookでログイン</a></button>
	</body>
</html>
