p.title {
	font-size: 20px;
	font-weight: bold;
}

button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	/*text-shadow: 1px 0 #fff; */
	border-radius: .5em;
	border: none;
	background-color: #143E71;
}

button > a {
	text-decoration: none;
}

button > a:visited {
	color: #fff;
}

a:hover {
	text-decoration: underline;
}
